<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/initial/src/initial/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="initial.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${selected_text:C:/Users/PLN/Desktop/Workspace/resources/Ontologias/TESTE/}&#13;&#10;${selected_text:C:/Users/PLN/Desktop/Workspace/running/TESTE/}&#13;&#10;${selected_text:both}&#13;&#10;${selected_text:2}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="initial"/>
</launchConfiguration>
